<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formuláio de cadastro de Notíia</title>
		</head>
	<body>
		<h1>Adicionar notíia</h1>
		<br/>

		<% if (validacao) { %>
			<ul>
				<% for (var i = 0; i < validacao.length; i++) { %>
					<li>
					<%= validacao[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>

		<form action="/noticias/salvar" method="post">
			<label>Tíulo</label>
			<input type="text" id="titulo" name="titulo" value="<%=noticia.titulo%>" placeholder="Tíulo da notíia" />
			<br/>
			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" value="<%=noticia.resumo%>" placeholder="Resumo da notícia" />
			<br/>
			<label>Autor</label>
			<input type="text" id="autor" name="autor" value="<%=noticia.autor%>" placeholder="Autor da notícia" />
			<br/>
			<label>Data da Notícia</label>
			<input type="date" id="data_noticia" name="data_noticia" value="<%=noticia.data_noticia%>" placeholder="Data da notícia" />
			<br/>
			<label>Notíia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30" /><%=noticia.titulo%></textarea> 
			<br/>
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>